{% extends "layout.html" %}
{% block content%}
<div class="container">

    <div class="row" style=" margin-top: -52px;">
        <!-- Section: Blog v.3 -->
        <section class="my-5 col-xl-9 card" style="background-color: white; padding-top: 10px;">
            <h1> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Cognitive Games </h1>
            <hr>
            <!-- Grid row -->
            <div class="row">
                <div style="padding: 30px">
                    <a href="https://www.websudoku.com/" style="color: black;">
                         <img src="{{ url_for('static', filename='sudoku.png') }}" alt="profile-picture" width="360" height="300">
                    </a>
                </div>
                <div style="padding: 30px">
                    <a href="https://www.solitr.com/" style="color: black;">
                         <img src="{{ url_for('static', filename='solitaire.png') }}" alt="profile-picture"width="360" height="300">
                    </a>
                </div>
            </div>

            <div class="row">
                <div style="padding: 30px">
                    <a href="https://www.chess.com/play/online" style="color: black;">
                         <img src="{{ url_for('static', filename='chess.png') }}" alt="profile-picture" width="360" height="300" >
                    </a>
                </div>
                <div style="padding: 30px">
                    <a href="https://www.mindgames.com/game/Daily+Word+Search" style="color: black;">
                         <img src="{{ url_for('static', filename='word_search.png') }}" alt="profile-picture"  width="360" height="300">
                    </a>
                </div>

            </div>
            <!-- Grid row -->
        </section>
    </div>
</div>

{% endblock %}
