{% extends "layout.html" %} {% block content%}
<meta property="og:url" content="{{ url_for('posts.question', questionID=post.id) }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ post.Title }}" />
<meta property="og:description" content="{{ post.Content }}" />
<meta
  property="og:image"
  content="{{ url_for('static', filename='question_images/' +
post.ImageFile) }}"
/>
<script>
  var questionID = "{{post.id}}";
</script>
<main>
  <br />
  <!-- Card -->
  <div class="card card-cascade wider reverse">
    {% if post.ImageFile %}
    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img
        class="card-img-top"
        src="{{ url_for('static', filename='question_images/' +
            post.ImageFile) }}"
        alt="Card image cap"
      />
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    {% endif %}

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
      <!-- Title -->
      <h4 class="card-title"><strong>{{ post.Title }}</strong></h4>
      <!-- Subtitle -->
      <h6 class="font-weight-bold indigo-text py-2">
        <a href="{{ url_for('main.user_profile', email=post.Authorq.Email) }}">
          {{ post.Authorq.FirstName }} {{ post.Authorq.LastName }}
        </a>
        - {{ post.DatePosted.strftime('%a %d, %Y') }}
      </h6>
      <!-- Text -->
      <p class="card-text">{{ post.Content }}</p>
      <div style="width: 30%; margin: auto">
        <button id="likeq" class="btn-primary" style="width: 75px; float: left">
          <i class="fa fa-thumbs-up"></i>
          Like
        </button>
        <p
          id="likeTextQ"
          style="
            padding-left: 8px;
            padding-top: 5px;
            font-weight: bold;
            float: left;
          "
        >
          {{likedUsersQ}} people like this
        </p>
        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script
          async
          defer
          crossorigin="anonymous"
          src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0"
        ></script>

        <!-- Your share button code -->
        <div
          style="float: right"
          class="fb-share-button"
          data-href="{{ url_for('posts.question', questionID=post.id) }}"
          data-layout="button_count"
          data-size="small"
        >
          <a
            target="_blank"
            href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"
            class="fb-xfbml-parse-ignore"
            >Share</a
          >
        </div>
      </div>
    <div class="card-body"></div>
    {% for post in answers %}
            <div style="text-align: left;">
            <a href="{{ url_for('main.user_profile', email=post.Authora.Email) }}">
                                    <div class="font-weight-bold mb-3" style="font-size: 15px;"><img style="max-width: 30px; margin-right: 10px;"
                                    src="{{ url_for('static', filename='profile_pictures/' + post.Authora.ProfilePicture) }}"
                                    class="img-fluid z-depth-1 rounded-circle"
                                    alt="Responsive image">{{ post.Authora.FirstName }}
                                    {{ post.Authora.LastName }} </div>
                                </a>
            {{ post.Content }}
            </div>
        </br></br>

    {% endfor %}

      <form class="container card-body" method="POST">

          {{ form.hidden_tag() }}
            <div class="md-form">
                {{ form.content(class='form-control') }}
                {{ form.content.label }}
                {% for content in form.content.errors %}
                    <span style="color: #f44336">{{ content }}</span>
                {% endfor %}
            </div>
            <div class="text-center mb-3">
                <button type="submit" class="btn btn-primary btn-block btn-rounded z-depth-1a">
                    <div style="font-size: 20px">Add Answer
                    </div>
                </button>
            </div>
      </form>
    </div>
  </div>

  <!-- Card -->
  <br />
  <br />
  <script src="{{ url_for('static', filename='js/post.js') }}"></script>
</main>
{% endblock %}
