{% extends "layout.html" %}
{% block content%}
    <div style="background-color: #FAFAFA" >
        <h1>
            <a href="{{ url_for('main.home') }}" class="btn  {% if active == 'home' %} btn-primary activenav{% endif %}">
                <div style="color: black;font-size: 20px; {% if active == 'home' %} color:white; {% endif %}" >
                    Posts
                </div>
            </a>

            <a href="{{ url_for('main.family') }}" class="btn {% if active == 'family' %} btn-primary activenav {% endif %}">
                <div style="color: black;font-size: 20px;{% if active == 'family' %} color:white; {% endif %}">
                    Family
                </div>
            </a>

            <a href="{{ url_for('main.chatroom') }}" class="btn {% if active == 'chatroom' %} btn-primary  activenav {% endif %}">
                <div style="color: black;font-size: 20px;{% if active == 'chatroom' %} color:white; {% endif %}" >
                    Chat Rooms
                </div>
            </a>

            <a href="{{ url_for('main.group') }}" class="btn {% if active == 'group' %}btn-primary  activenav {% endif %}">
                <div style="color: black;font-size: 20px;{% if active == 'group' %} color:white; {% endif %}" >
                    Groups
                </div>
            </a>

            <a href="{{ url_for('main.dating') }}" class="btn  {% if active == 'dating' %}btn-primary  activenav {% endif %}">
                <div style="color: black;font-size: 20px;{% if active == 'dating' %} color:white; {% endif %}" >
                    Dating
                </div>
            </a>

            <a href="{{ url_for('main.question',order='time') }}" class="btn  {% if active == 'question' %} btn-primary  activenav {% endif %}">
                <div style="color: black;font-size: 20px;{% if active == 'question' %} color:white; {% endif %}" >
                    Question/Answers
                </div>
            </a>
        </h1>
    </div>
<div class="container" style="padding-left:250px;">

            <img src="{{ url_for('static', filename='const.gif') }}" loop = "infinite"/>

</div>

{% endblock %}
