{% extends "layout.html" %}
{% block content%}
    <div><h1>
    <a href="{{ url_for('main.home') }}" class="btn btn-outline-primary nav-link waves-effect waves-light {% if active == 'home' %} activenav {% endif %}">

                    Posts
                </a>
            <a href="{{ url_for('main.family') }}" class="btn btn-outline-primary nav-link waves-effect waves-light {% if active == 'family' %} activenav {% endif %}">
                    Family
                </a>
            <a href="{{ url_for('main.chatroom') }}" class="btn btn-outline-primary nav-link waves-effect waves-light {% if active == 'chatroom' %} activenav {% endif %}">
                    Chat Rooms
                </a>
            <a href="{{ url_for('main.group') }}" class="btn btn-outline-primary nav-link waves-effect waves-light {% if active == 'group' %} activenav {% endif %}">
                    Groups
                </a>
            <a href="{{ url_for('main.dating') }}" class="btn btn-outline-primary nav-link waves-effect waves-light {% if active == 'dating' %} activenav {% endif %}">
                    Dating
                </a>
            <a href="{{ url_for('main.news') }}" class="btn btn-outline-primary nav-link waves-effect waves-light {% if active == 'news' %} activenav {% endif %}">
                    Question/Answers
                </a>
    </h1>
    </div>
<div class="container">

            <img src="{{ url_for('static', filename='const.gif') }}" loop = "infinite"/>

</div>

{% endblock %}
