{% extends "layout.html" %}
{% block content%}
<div class="container">

    <div class="row" style=" margin-top: -52px;">
        <!-- Section: Blog v.3 -->
        <section class="my-5 col-xl-9 card" style="background-color: white; padding-top: 10px;">
            <h1> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Living </h1>
            <h2>Things to know
                <a href="{{ url_for('main.create_living_post') }}" class="btn btn-outline-primary waves-effect"><i
                        class="fas fa-magic mr-1"></i>
                    Post by Admin only
                </a>
            </h2>
            <hr>
            {% if posts %}
            {% for post in posts %}
            <!-- Grid row -->
            <div class="row">
                {% if post.ImageFile %}
                <!-- Grid column -->
                <div class="col-lg-5 col-xl-4">

                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                        <img class="img-fluid" src="{{ url_for('static', filename='post_images/' +
                                post.ImageFile) }}" alt="Post Image">
                        <a href="{{ url_for('main.living', postID=post.id) }}">

                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                </div>
                <!-- Grid column -->
                {% endif %}
                <!-- Grid column -->
                <div class="col-lg-7 col-xl-8">

                    <!-- Post title -->
                    <a href="{{ url_for('main.living', postID=post.id) }}" style="color: black;">
                        <h5 class="font-weight-bold mb-3"><strong>{{ post.Title }}</strong></h5>
                    </a>

                    <!-- Excerpt -->
                    {% if post.Content[:100] %}

                    <p class="dark-grey-text">{{ post.Content[:100] + (post.Content[100:] and '...') }}</p>
                    <!-- Post data -->
                    {% endif %}

                    <!-- Read more button -->

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <hr class="my-5">
            {% endfor %}
            {% else %}
            <img src="{{ url_for('static', filename='socialize.png') }}"" alt="">
                <h3 class=" text-center">You don't have any friends/following.</h3>
            {% endif %}
        </section>
        <!-- Section: Blog v.3 -->

        <section class="my-5 col-xl-3" style="padding-top: 10px;">

        </section>
    </div>
</div>

{% endblock %}
