{% extends "layout.html" %}
{% block content%}
    <div style="background-color: #FAFAFA" >
        <h1>
            <a href="{{ url_for('main.home') }}" class="btn  {% if active == 'home' %} btn-primary activenav{% endif %}">
                <div style="color: black;font-size: 20px; {% if active == 'home' %} color:white; {% endif %}" >
                    Posts
                </div>
            </a>

            <a href="{{ url_for('main.family') }}" class="btn {% if active == 'family' %} btn-primary activenav {% endif %}">
                <div style="color: black;font-size: 20px;{% if active == 'family' %} color:white; {% endif %}">
                    Family
                </div>
            </a>

            <a href="{{ url_for('main.chatroom') }}" class="btn {% if active == 'chatroom' %} btn-primary  activenav {% endif %}">
                <div style="color: black;font-size: 20px;{% if active == 'chatroom' %} color:white; {% endif %}" >
                    Chat Rooms
                </div>
            </a>

            <a href="{{ url_for('main.group') }}" class="btn {% if active == 'group' %}btn-primary  activenav {% endif %}">
                <div style="color: black;font-size: 20px;{% if active == 'group' %} color:white; {% endif %}" >
                    Groups
                </div>
            </a>

            <a href="{{ url_for('main.dating') }}" class="btn  {% if active == 'dating' %}btn-primary  activenav {% endif %}">
                <div style="color: black;font-size: 20px;{% if active == 'dating' %} color:white; {% endif %}" >
                    Dating
                </div>
            </a>

            <a href="{{ url_for('main.news') }}" class="btn  {% if active == 'news' %} btn-primary  activenav {% endif %}">
                <div style="color: black;font-size: 20px;{% if active == 'news' %} color:white; {% endif %}" >
                    Question/Answers
                </div>
            </a>
        </h1>
    </div>
    <div style = "position:relative;color: green; height: 40px;">
    <a class="prev" style="left:30%;" onclick="plusSlides(-1)">
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&#10094; Previous Post
    </a>
    <a class="next" style="right:30%;" onclick="plusSlides(1)">
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Next Post &#10095;
    </a>
</div>
<div class="container" style="padding-left:250px;">

    <div class="row" style=" margin-top: -52px;">
        <!-- Section: Blog v.3 -->
        <section class="my-5 col-xl-9 card" style="background-color: white; padding-top: 10px;">

            <hr>
            {% if posts %}
                <div class="slideshow-container">
            {% for post in posts %}
                <div class="mySlides">
            <!-- Grid row -->
            <div class="row">
                {% if post.ImageFile %}
                <!-- Grid column -->
                <div class="col-lg-5 col-xl-4">

                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                        <img class="img-fluid" src="{{ url_for('static', filename='post_images/' +
                                post.ImageFile) }}" alt="Post Image">
                        <a href="{{ url_for('main.news', postID=post.id) }}">

                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                </div>
                <!-- Grid column -->
                {% endif %}
                <!-- Grid column -->
                <div class="col-lg-7 col-xl-8">

                    <!-- Post title -->
                    <a href="{{ url_for('main.news', postID=post.id) }}" style="color: black;">
                        <h5 class="font-weight-bold mb-3"><strong>{{ post.Title }}</strong></h5>
                    </a>

                    <!-- Excerpt -->
                    {% if post.Content[:100] %}

                    <p class="dark-grey-text">{{ post.Content[:100] + (post.Content[100:] and '...') }}</p>
                    <!-- Post data -->
                    {% endif %}

                    <!-- Read more button -->

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <hr class="my-5">
                </div>
            {% endfor %}
            </div>
            {% else %}
            <img src="{{ url_for('static', filename='socialize.png') }}"" alt="">
                <h3 class=" text-center">You don't have any friends/following.</h3>
            {% endif %}

        </section>
        <!-- Section: Blog v.3 -->

        <div>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                <a href="{{ url_for('main.create_family_post') }}" class="btn btn-primary waves-effect">
                    <div style="font-size: 20px">
                    Create a Post
                    </div>
                </a>
            </div>
    </div>
</div>

{% endblock %}
