{% extends "layout.html" %} {% block content%}
<meta
  property="og:url"
  content="{{ url_for('chatrooms.chatroom', chatroomID=chatroom.id) }}"
/>
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ chatroom.Title }}" />
<script>
  var chatroomId = "{{chatroom.id}}";
  var profilePicture = "{{current_user.ProfilePicture}}";
  var userFirstName = "{{current_user.FirstName}}";
  var userEmail = "{{current_user.Email}}";
</script>
<!-- Card -->
<div
  class="card grey lighten-3 chat-room"
  style="height: calc(100% - 150px); margin: 90px"
>
  <div class="card-body" style="height: 100%">
    <h4 style="width: 100%; text-align: center; margin: auto">
      {{chatroom.Title }}
    </h4>
    <!-- Grid row -->
    <div class="row px-lg-2 px-2" style="height: 100%">
      <!-- Grid column -->
      <div class="col-md-6 col-xl-4 px-0" style="height: 100%">
        <h6 class="font-weight-bold mb-3 text-center text-lg-left">Members</h6>
        <div
          class="white z-depth-1 px-3 pt-3 pb-0"
          style="height: 90%; overflow: auto"
        >
          <ul id="members" class="list-unstyled friend-list">
            {% if chatroom %} {% for member in members %} {% endfor %} {% endif
            %}
          </ul>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div
        class="col-md-6 col-xl-8 pl-md-3 px-lg-auto px-0"
        style="height: 100%"
      >
        <div class="chat-message" style="height: 100%">
          <ul
            id="chats"
            class="list-unstyled chat"
            style="height: 60%; overflow: auto"
          >
            {% if chats %} {% for chat in chats %} {% if chat.OwnerUserId !=
            current_user.id %}
            <li class="d-flex justify-content-between mb-4">
              <img
                src="{{ url_for('static', filename='profile_pictures/' + chat.OwnerUser.ProfilePicture) }}"
                style="height: 60px; width: 60px"
                alt="avatar"
                class="avatar rounded-circle mr-2 ml-lg-3 ml-0 z-depth-1"
              />
              <div class="chat-body white p-3 ml-2 z-depth-1">
                <div class="header">
                  <strong class="primary-font"
                    >{{chat.OwnerUser.FirstName}}</strong
                  >
                  <small class="pull-right text-muted"
                    ><i class="far fa-clock"></i> 12 mins ago</small
                  >
                </div>
                <hr class="w-100" />
                <p class="mb-0">{{chat.Content}}</p>
              </div>
            </li>
            {% else %}
            <li class="d-flex justify-content-between mb-4">
              <div class="chat-body white p-3 z-depth-1">
                <div class="header">
                  <strong class="primary-font"
                    >{{chat.OwnerUser.FirstName}}</strong
                  >
                  <small class="pull-right text-muted"
                    ><i class="far fa-clock"></i> 13 mins ago</small
                  >
                </div>
                <hr class="w-100" />
                <p class="mb-0">{{chat.Content}}</p>
              </div>
              <img
                src="{{ url_for('static', filename='profile_pictures/' + chat.OwnerUser.ProfilePicture) }}"
                style="height: 60px; width: 60px"
                alt="avatar"
                class="avatar rounded-circle mr-0 ml-3 z-depth-1"
              />
            </li>
            {% endif %} {% endfor %} {% endif %}
          </ul>
          <form class="container card-body">
            <ul class="list-unstyled chat">
              <li class="white">
                <div class="form-group basic-textarea">
                  <textarea
                    class="form-control pl-2 my-0"
                    id="message"
                    rows="3"
                    placeholder="Type your message here..."
                  ></textarea>
                </div>
              </li>
              <button
                id="send_message"
                class="btn btn-info btn-rounded btn-sm waves-effect waves-light float-right"
              >
                Send
              </button>
            </ul>
          </form>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
</div>
<!-- Card -->
<br />
<script src="{{ url_for('static', filename='js/chatroom.js') }}"></script>
{% endblock %}
