{% extends "layout.html" %} {% block content%}

<div class="container" style="height: inherit">
  <!-- Section: Blog v.3 -->
  <!-- Section: Blog v.3 -->
     <h1> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <a href="{{ url_for('main.home') }}" class="btn btn-outline-primary waves-effect"><i
                        class="fas fa-magic mr-1"></i>
                    Posts
                </a>
            <a href="{{ url_for('main.family') }}" class="btn btn-outline-primary waves-effect"><i
                        class="fas fa-magic mr-1"></i>
                    Family
                </a>
            <a href="{{ url_for('main.chatroom') }}" class="btn btn-outline-primary waves-effect"><i
                        class="fas fa-magic mr-1"></i>
                    Chat Rooms
                </a>
            <a href="{{ url_for('main.group') }}" class="btn btn-outline-primary waves-effect"><i
                        class="fas fa-magic mr-1"></i>
                    Groups
                </a>
            <a href="{{ url_for('main.dating') }}" class="btn btn-outline-primary waves-effect"><i
                        class="fas fa-magic mr-1"></i>
                    Dating
                </a>
            <a href="{{ url_for('main.news') }}" class="btn btn-outline-primary waves-effect"><i
                        class="fas fa-magic mr-1"></i>
                    Question/Answers
                </a></h1>
  {% if chatrooms %} {% for chatroom in chatrooms %}
  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-lg-3 col-xl-4">
      <!-- Post title -->
      <a
        href="{{ url_for('chatrooms.chatroom', chatroomID=chatroom.id) }}"
        style="color: black"
      >
        <h5 class="font-weight-bold mb-3">
          <strong>{{ chatroom.Title }}</strong>
        </h5>
      </a>

      <!-- Excerpt -->

      <!-- Read more button -->

    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->

  <hr />
  {% endfor %} {% else %}
  <img src="{{ url_for('static', filename='socialize.png') }}" alt="" />
  <h3 class="text-center">You don't have any friends/following.</h3>
  {% endif %}

  <section class="my-5 col-xl-3" style="padding-top: 10px; margin: auto">
    <a
      href="{{ url_for('chatrooms.create_chatroom') }}"
      class="btn btn-outline-primary waves-effect"
      ><i class="fas fa-magic mr-1"></i>
      Create a chatroom
    </a>
  </section>
</div>

{% endblock %}
