<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- JQuery -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    ></script>
    <!-- Bootstrap tooltips -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
    ></script>
    <!-- Bootstrap core JavaScript -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
    ></script>
    <!-- MDB core JavaScript -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/js/mdb.min.js"
    ></script>
    <script href="{{ url_for('static', filename='mdb.min.js') }}"></script>
    <!--socketIO-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
      integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
      crossorigin="anonymous"
    ></script>
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    />
    <!-- Bootstrap core CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Material Design Bootstrap -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/css/mdb.min.css"
      rel="stylesheet"
    />
    <!-- Chat CSS -->
    <link href="css/addons-pro/chat.css" rel="stylesheet" />
    <!-- Chat CSS - minified-->
    <link href="css/addons-pro/chat.min.css" rel="stylesheet" />
    <!-- Local Files -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='mdb.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
    <link rel="icon" href="http://example.com/favicon.png" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% if title %}
    <title>INDULGE - {{ title }}</title>
    {% else %}
    <title>INDULGE</title>
    {% endif %}
  </head>

  <body class="fixed-sn">
    <header style="color: white">
        <nav class="navbar white fixed-top ">
            <a class="navbar-brand" href="{{ url_for('main.home') }}"
            style="font-size: 20px;font-weight: 900; color: black"><strong>INDULGE</strong></a>
            <ul class="nav navbar-nav nav-flex-icons ml-auto" >
                {% if current_user.is_authenticated %}
                    <li class="nav-item" style="color: black">
                         <a class="nav-link waves-effect waves-light {% if active == 'home' or active == 'family' or active == 'chatroom' or active == 'group' or active == 'dating' or active == 'news'%}btn-primary activenav{% endif %}"
                        href="{{ url_for('main.home') }}" style="color: black; font-size: 20px;{% if active == 'home' or active == 'family' or active == 'chatroom' or active == 'group' or active == 'dating' or active == 'news'%}color:white; {% endif %}">&ensp;Community &ensp;</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light {% if active == 'job' or active == 'volunteer' %} btn-primary activenav {% endif %}"
                        href="{{ url_for('main.job') }}" style="color: black; font-size: 20px;{% if active == 'job' or active == 'volunteer' %}color:white; {% endif %}"> &ensp;Work &ensp;</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light {% if active == 'living' %} btn-primary activenav{% endif %}"
                        href="{{ url_for('main.living') }}" style="color: black; font-size: 20px;{% if active == 'living' %}color:white; {% endif %}">&ensp;Health & Fitness&ensp; </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light {% if active == 'games' %} btn-primary activenav  {% endif %}"
                        href="{{ url_for('main.game') }}" style="color: black; font-size: 20px;{% if active == 'games' %}color:white; {% endif %}">&ensp;Games&ensp;</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light {% if active == 'schedule' %} btn-primary activenav {% endif %}"
                        href="{{ url_for('main.calendar')}}" style="color: black; font-size: 20px;{% if active == 'schedule' %}color:white; {% endif %}">&ensp;Schedule&ensp; </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light {% if active == 'profile' %} btn-primary activenav{% endif %}"
                        href="{{ url_for('users.profile') }}" style="color: black; font-size: 20px;{% if active == 'profile' %}color:white; {% endif %}">&ensp; Profile &ensp;</a>
                    </li>
                    <li class="nav-item" style="margin-left: 5px; margin-right: 10px">
                        <a class="nav-link waves-effect waves-light"
                        href="{{ url_for('main.search') }}" style="color: black; font-size: 20px;">
                        <i class="fas fa-search" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item avatar dropdown" style="margin-top: 5px">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <img src="{{ url_for('static', filename='profile_pictures/' + current_user.ProfilePicture) }}"
                            class="rounded-circle z-depth-0" alt="avatar image"/></a>
                        <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"aria-labelledby="navbarDropdownMenuLink-55">
                            <a class="dropdown-item" href="{{ url_for('users.profile_update') }}" style="color: black; font-size: 20px;"
                               >Account Settings</a>
                            <a class="dropdown-item" href="{{ url_for('users.logout') }}" style="color: black; font-size: 20px;"
                                >Logout</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn {% if active == 'home' %} btn-primary activenav{% endif %}"
                           href="{{ url_for('users.login') }}" style="color: black; font-size: 20px;{% if active == 'home' %}color:white; {% endif %}"> &emsp;&emsp; Sign In &emsp;&emsp;  </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn {% if active == 'home' %} btn-primary activenav{% endif %}"
                           href="{{ url_for('users.register') }}" style="color: black; font-size: 20px;{% if active == 'home' %}color:white; {% endif %}"> &emsp;&emsp; Sign Up &emsp;&emsp;  </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <div style="margin-top: 70px; height: 720px">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
      {% block content %}
      {% endblock %}
    </div>
    <footer class="page-footer font-small unique-color-dark"></footer>
  </body>
</html>
